<package-def>
	<class name="ГитРепозиторий" file="src/ГитРепозиторий.os"/>
	<class name="КомандаГитРепозитория" file="src/Классы/КомандаГитРепозитория.os"/>
	<class name="НастройкаКомандыPush" file="src/Классы/НастройкаКомандыPush.os"/>
	<class name="НастройкаКомандыClone" file="src/Классы/НастройкаКомандыClone.os"/>
</package-def>