<package-def>
	<class name="ГитРепозиторий" file="src/ГитРепозиторий.os"/>
	<class name="КомандаГитРепозитория" file="src/Классы/КомандаГитРепозитория.os"/>
	<class name="НастройкаКомандыОтправить" file="src/Классы/НастройкаКомандыОтправить.os"/>
	<class name="НастройкаКомандыКлонировать" file="src/Классы/НастройкаКомандыКлонировать.os"/>
	<module name="РежимУстановкиНастроекGit" file="src/Модули/РежимУстановкиНастроекGit.os"/>
</package-def>